body{
    background-color: #eff0a1;
}

#cabecera{
    text-align: center;
}

#nav{
    text-align: center;
    background-color: #fff;
}

#opt1{
    padding: 10px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
#opt1 li a{
    padding: 10px;
    color: #000;
    text-decoration: none;
}
#opt1 li a:hover{
    background-color: #0ff;
}

#content{
    margin: 0 auto;
    max-width: 650px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
div img{
    height: 560px;
}

.item{
    padding: 15px;
    max-width: 210px;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 2px 3px 5px #949292;
}
.it-img img{
    height: 180px;
}

#carrito th, #carrito td{
    border: 1px solid black;
    padding: 20px;
}
#carrito{
    margin: 0 auto;
    text-align: center;
    border-collapse: collapse;
}